ol li {
    float: left;
    list-style-type: none;
}

button {
    width: 80px;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: rgb(231, 235, 39);
    color: black;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}