h1 {
    text-align: center;
    margin-bottom: 0px;
}

.centered-text {
    text-align: center;
}

.invisible {
    visibility: hidden;
}

.hidden {
    display: none;
}

.going-first, .going-second {
    width: 25px;
}

canvas {
    background-image: url(assets/board.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #000000;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.row {
    display: flex;
}

.column {
    flex: 50%;
}

.black {
    background-color: black;
    color: white;
}

.white {
    background-color: rgb(231, 235, 39);
    color: black;
}

.subtitle {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#roll {
    width: 70px;
    height: 35px;
    font-weight: bold;
}

#status > p {
    margin: 4px;
}


@media only screen and (max-width: 900px) and (orientation: portrait) {
    canvas {
        width: 100%;
    }

    .subtitle {
        width: 100%;
    }
}
@media only screen and (max-width: 600px) and (orientation: portrait) {
    h1 {
        display: none;
    }
}

@media only screen and (max-height: 600px) and (orientation: landscape) {
    canvas {
        height: 80vh;
    }
    h1 {
        display: none;
    }
    #status {
        display: flex;
    }
}